.option-item-component {
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  @apply bg-white dark:bg-navy-navy shadow-optionLight dark:shadow-optionDark;
  padding: 12px;
}
.option-item--left {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.option-item--title {
  font-size: 18px;
  font-weight: 500;
  @apply text-navy-dark dark:text-white;
}
@media (min-width: 768px) {
  .option-item-component {
    border-radius: 24px;
    margin-bottom: 24px;
  }
  .option-item--left {
    width: 56px;
    height: 56px;
    border-radius: 12px;
    margin-right: 32px;
  padding: 8px;
}
}
