.question-left--text {
  margin-bottom: 24px;
  p {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 12px;
    @apply text-navy-grey dark:text-bluish;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    @apply text-navy-dark dark:text-white;
  }
}
.question-left--progress {
  margin-bottom: 40px;
}
.question-right--options {
  margin-bottom: 12px;
}
.question-right--submit {
  margin-bottom: 40px;
}

.score-left {
  margin-bottom: 40px;
  &--title {
    font-size: 40px;
    font-weight: 300;
    line-height: calc(100% + 8px);
    @apply text-navy-dark dark:text-white;
    b {
      font-weight: 500;
    }
  }
}
.score-right {
  &--container {
    padding: 32px;
    border-radius: 12px;
    margin-bottom: 12px;
    @apply bg-white dark:bg-navy-navy;
    &__category {
      margin: 0 auto;
      width: fit-content;
      margin-bottom: 16px;
    }
    &__points {
      text-align: center;
      font-size: 88px;
      font-weight: 500;
      margin-bottom: 16px;
      line-height: 100%;
      @apply text-navy-dark dark:text-white;
    }
    &__length {
      font-size: 18px;
      text-align: center;
      @apply text-navy-grey dark:text-bluish;
    }
  }
}
@media (min-width: 768px){
  .question-left--text {
    margin-bottom: 40px;
    p {
      font-size: 20px;
      margin-bottom: 27px;
      line-height: 150%;
    }
    h2 {
      font-size: 36px;
    }
  }
  .question-left--progress {
    margin-bottom: 64px;
  }
  .question-right--options {
    margin-bottom: 24px;
  }
}