.category-title-component {
  display: flex;
  border-radius: 40px;
  align-items: center;
}
.category-title-icon {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  padding: 5px;
  margin-right: 16px;
}
.category-title-title {
  font-size: 18px;
  font-weight: 500;
  @apply text-navy-dark dark:text-white;
}
@media (min-width: 768px) {
  .category-title-icon {
    height: 56px;
    width: 56px;
    border-radius: 8px;
    padding: 8px;
    margin-right: 24px;
  }
  .category-title-title {
    font-size: 28px;
  }
}
