.category-title-component {
  display: flex;
  border-radius: 40px;
  align-items: center;
}
.category-title-icon {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin-right: 16px;
}
.category-title-title {
  font-size: 18px;
  font-weight: 500;
  @apply text-navy-dark dark:text-white;
}