.app-routes-container {
  padding: 0 24px;
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 768px){
  .app-routes-container {
    padding: 0 64px;
  }
}
@media (min-width: 1024px){
  .app-routes-container {
    padding: 0 143px;
  }
}