.app-routes-container {
  padding: 0 24px;
}

@media (min-width: 768px){
  .app-routes-container {
    padding: 0 64px;
  }
}
@media (min-width: 1024px){
  .app-routes-container {
    padding: 0 143px;
  }
}